@import "tailwindcss";

@font-face {
  font-family: "Parisienne";
  src: url("/fonts/Parisienne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GochiHand";
  src: url("/fonts/GochiHand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-parisienne: "Parisienne", cursive;
  --font-gochihand: "GochiHand", cursive;
}
